<?xml version="1.0" encoding="utf-8"?>
<!--<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
    <connectionStrings>
	    <add name="DatabaseConnection" connectionString="server=127.0.0.1;uid=root;pwd=Kondor99$;port=3306;database=clienti_db" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="WcfEnd.Service.GestoreService" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="GestoreService" binding="webHttpBinding" contract="WcfEnd.Common.IGestore" behaviorConfiguration="web"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8085" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
		<behavior name="ServiceBehaviour">
			<serviceMetadata httpGetEnabled="true"/>
			<serviceDebug includeExceptionDetailInFaults="false"/>
		</behavior>
        <behavior>
          --><!-- This should be false in production systems --><!--
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
	    <endpointBehaviors>
		    <behavior name="web">
			    <webHttp/>
		    </behavior>
	    </endpointBehaviors>
    </behaviors>








	  --><!--<diagnostics>
      <messageLogging logEntireMessage="true"
                      logMessagesAtTransportLevel="true" />
    </diagnostics>--><!--

  </system.serviceModel>

  --><!--<system.diagnostics>
    <trace autoflush="true" />
    <sources>
    
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="XMLListener" />
        </listeners>
      </source>
      
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="XMLListener" />
        </listeners>
      </source>
      
    </sources>
    
    <sharedListeners>
      <add name="ConsoleListener"
           type="System.Diagnostics.ConsoleTraceListener" />
           
      <add name="XMLListener"
           initializeData="d:\server.svclog"
           type="System.Diagnostics.XmlWriterTraceListener"
           traceOutputOptions="DateTime,ProcessId,ThreadId,Callstack" />
           
      <add name="TextListener"
           initializeData="d:\server.txt"
           type="System.Diagnostics.TextWriterTraceListener"
           traceOutputOptions="DateTime,ProcessId,ThreadId,Callstack" />
    </sharedListeners>
  </system.diagnostics>--><!--

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>-->







<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="DatabaseConnection" connectionString="server=127.0.0.1;uid=root;pwd=Kondor99$;port=3306;database=clienti_db" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<system.serviceModel>
		<services>
			<service name="WcfEnd.Service.GestoreService" behaviorConfiguration="GestoreServiceBehaviour">
				<endpoint address="GestoreService" binding="webHttpBinding" contract="WcfEnd.Common.IGestore" behaviorConfiguration="WebBehavior"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8085" />
					</baseAddresses>
				</host>
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="GestoreServiceBehaviour">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
				<behavior>
					<!-- This should be false in production systems -->
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="WebBehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.web>
		<compilation debug="true" targetFramework="4.8"/>
		<httpRuntime targetFramework="4.8"/>
	</system.web>
</configuration>
